/* Home page specific Styles */

@mixin imgCover ($image, $top: rgba(100,100,100, 0.5), $bottom: rgba(200,200,200, 0.7)) {
	background-image:
	    linear-gradient(
	      to bottom, 
	      $top,  
	      $bottom
	    ),
	    url($image);
    background-repeat: no-repeat, no-repeat;
    background-position: center center, center center;
    background-size: cover, cover;
}

.home-cover {
  @include imgCover('/assets/images/backgrounds/hudson-nyc-1080.jpg');
}

.developerhub-cover {
   @include imgCover('/assets/images/backgrounds/developer-screen.png', rgba(0,0,0, 0.9), rgba(100,100,100, 0.8));
}

.developerhub-blog-cover {
   @include imgCover('/assets/images/backgrounds/tech-blogging.jpg', rgba(0,0,0, 0.95), rgba(100,100,100, 0.8));
}

.masthead-brand {
  font-family: $font-family-masthead;
  font-size: 2rem;
  color: $brand-primary;
  line-height: 1rem;
  margin-top: 2rem;
}

.masthead-heading {
  font-family: $font-family-sans-serif;
  color: $white;
  text-shadow: 0.17rem 0.15rem 0.3rem $black;
  margin-top: 0.5rem;
}

.masthead-lead {
  color: $white;
  text-shadow: 0.17rem 0.15rem 0.3rem $black;
}

.profile-writup {
	background-image: linear-gradient(
      to bottom, 
      rgba(200,200,200, 0.7),
      rgba(255,255,255, 0.7)
    ) !important;
    background-color: transparent;
  	@include media-breakpoint-down(sm) {
      margin-top: 2rem;
    }
}

.profile-headshot {
	width: 11rem;
	vertical-align: middle;
}

.profile-headshot-wrapper {
	vertical-align: middle;
}

.profile-headshot-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}