    {% include utils/find-host %}
        <div class="card-columns">
        {% for entry in include.entries limit:include.limit  %}
          {% include utils/find-featured-image entry=entry %}      
          <div class="card promo-card bg-faded">
            {% if FEATURED_IMAGE and FEATURED_IMAGE.size > 0 %}
              <a>
                <img class="card-img-top img-fluid promo-img" src="{{ FEATURED_IMAGE }}">
              </a>
            {% endif %}
            {% assign FEATURED_IMAGE = nil %}
            <div class="card-block">
              {% if entry.categories.size > 0 %}
              <div class="promo-card-category"><a href="#{{ entry.categories[0] }}">{{ entry.categories[0] }}</a></div>
              {% endif %}
              <h5 class="promo-card-title"><a href="{{ entry.url }}">{{ entry.title }}</a></h5>
              <p class="card-text"><a href="{{ entry.url }}">{% if entry.summary %}{{ entry.summary | truncatewords: 30 }}{% else %}{{ entry.excerpt | strip_html | truncatewords: 25}}{% endif %}</a></p>
              <footer>
                <small>
                  <time>{{entry.date | date: "%d-%b-%Y" }}</time> &middot; 
                  <span class="text-primary"><i class="fa fa-comments" aria-hidden="true"></i>&nbsp;<a href="{{ HOST }}{{entry.url}}#disqus_thread" class="comments text-primary">&nbsp;Comments</a></span>
                </small>
              </footer>
            </div>
          </div>
        {% endfor %}
        </div>