      {% include utils/find-host %}
      {% for entry in include.entries limit:include.limit  %}
        {% include utils/find-featured-image entry=entry %}
        {% if include.category == nil or  include.category == entry.categories[0] %}
          {% if include.stream == nil or include.stream == entry.stream %}
            <div class="row featurette">
              {% assign ctrmod =  forloop.index | modulo: 2 %}
              <div class="col-md-9 {% if ctrmod == 0 %}{% if FEATURED_IMAGE and FEATURED_IMAGE.size > 0 %}push-md-3{% else %}push-md-2{% endif %}{% endif %}">
                <b>{% if entry.stream %}
                  <div class="promo-card-stream"><a href="#{{ entry.stream }}">{{ entry.stream }}</a></div>
                  {% endif %}
                </b>
                <time class="text-muted">{{entry.date | date: "%A, %d-%b-%Y" }}</time>
                <h3 class="featurette-heading promo-card-title"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
                <p class="lead">{% if entry.summary %}{{ entry.summary }}{% else %}{{ entry.excerpt | strip_html | truncatewords: 30}}{% endif %}</p>
                <p>
                  {% if entry.tags.size > 0 %}
                  &middot; 
                  <i class="fa fa-tags" aria-hidden="true"></i>
                  <span style="font-size: 1.2rem;">
                    {% for tag in entry.tags %}
                    <span class="badge pill badge-default bg-inverse"><a class="text-white" href="/tags.html#{{ tag }}">{{ tag }}</a></span>
                    {% endfor %}
                  </span>
                  {% endif %}
                  <span class="d-block mt-2">
                    <span class="text-primary"><i class="fa fa-comments" aria-hidden="true"></i>&nbsp;<a href="{{ HOST }}{{entry.url}}#disqus_thread" class="comments">&nbsp;Comments</a></span>
                    {% include utils/find-readtime entry=entry %}
                    {% if READ_TIME %}
                      &middot; <span class="read-time"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{ READ_TIME }} mins read</span>
                    {% endif %}
                    {% assign READ_TIME = nil %}
                  </span>
                </p>
              </div>
              {% if FEATURED_IMAGE and FEATURED_IMAGE.size > 0 %}
              <div class="col-md-3 {% if ctrmod == 0 %}pull-md-9{% endif %}">
                  <a href="{{ entry.url }}"><img class="featurette-image img-fluid mx-auto" src="{{ FEATURED_IMAGE }}"></a>  
              </div>
              {% endif %}
              {% assign FEATURED_IMAGE = nil %}
            </div>
            <hr class="featurette-divider">
          {% endif %}
        {% endif %}
      {% endfor %}
      {% assign ctrmod = nil %}