---
layout: default
section: developerhub
hideLogoInit: false
---
{% include setup %}
    <div class="jumbotron jumbotron-fluid developerhub-cover">
      <div class="container">
        <section class="page col-12">
          <div class="col-12 text-center">
              <div class="masthead-brand"><b>THOMAS</b> JOSEPH</div>  
              <h1 class="mb-4 mt-4 masthead-heading">Developer<span style="color:#999999">Hub</span></h1>
              <p class="lead masthead-lead">Blogs, articles and other resources on topics that matters a software developer.</p>
              <a href="/developerhub/blog" class="btn btn-lg btn-primary mx-auto">Go to Blogs</a>
          </div>
        </section>
      </div>
    </div>

    {% include themes/{{ site.JB.theme }}/fragments/breadcrumb.html %}

    <div class="container">
      <div class="row">
        {% include themes/{{ site.JB.theme }}/fragments/col-promo-card.html entries=site.posts limit=20 category='developerhub'%}
      </div>
      <div class="row">
        <a href="/developerhub/blog/archive.html" class="btn btn-lg btn-primary mx-auto">All Posts</a>
      </div>
    </div>