    <!-- Navigation -->
    <nav id="mainNavWrapper" class="navbar navbar-static navbar-toggleable-sm fixed-top navbar-inverse bg-inverse">
      <div id="stickyDesktopNav" class="container">
        <a id="navbarBrand" class="navbar-brand {% if page.hideLogoInit == true %} hidden-md-up {% else %} mr-auto {% endif %}masthead-text text-primary" href="{{ SECTION.homePath }}">
          <img src="{{ SECTION.brandImagePath }}" style="height: {{ SECTION.brandImageHeight }}"/>
        </a>
        <!-- Desktop Navigation -->
        <div id="stickyDesktopNavLinks" class="{% if page.hideLogoInit == true %}mx-auto{% endif %}">
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav list-dotted">
              <li class="nav-item">
                <a class="nav-link" href="{{ BASE_PATH }}/">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{{ BASE_PATH }}/developerhub" id="dropdownDeveloperHub" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">DeveloperHub</a>
                <div class="dropdown-menu" aria-labelledby="dropdownDeveloperHub">
                  <a class="dropdown-item" href="{{ BASE_PATH }}/developerhub">DeveloperHub Home</a>
                  <a class="dropdown-item" href="{{ BASE_PATH }}/developerhub/blog">Blogs</a>
                  <a class="dropdown-item" href="{{ BASE_PATH }}/developerhub/articles">Articles</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ BASE_PATH }}/about">About</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Mobile Navigation -->
      <button id="sidebarToggler" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="sidebar" class="sidebar-wrapper hidden-md-up">
        <div class="sidebar-head text-right">
          <button class="navbar-toggler btn-sidebar-close" >&times;</button>
        </div>
        <ul class="sidebar clearfix">
          <li>
            <a class="nav-link" href="{{ BASE_PATH }}/"><i class="fa fa-home mr-2" aria-hidden="true"></i>Home</a>
          </li>
          <li>
            <a class="nav-link" href="{{ BASE_PATH }}/developerhub/"><i class="fa fa-code mr-2" aria-hidden="true"></i>DeveloperHub</a>
            <div class="dropdown-menu" aria-labelledby="dropdownDeveloperHub">
              <a class="dropdown-item" href="{{ BASE_PATH }}/developerhub">DeveloperHub Home</a>
              <a class="dropdown-item" href="{{ BASE_PATH }}/developerhub/blog">Blogs</a>
              <a class="dropdown-item" href="{{ BASE_PATH }}/developerhub/articles">Articles</a>
            </div>
          </li>
<!--           <li>
            <a class="nav-link" href="#"><i class="fa fa-globe mr-2" aria-hidden="true"></i>Life Musings</a>
          </li> -->
          <li>
            <a class="nav-link" href="{{ BASE_PATH }}/about"><i class="fa fa-info-circle mr-2" aria-hidden="true"></i>About</a>
          </li>
        </ul>
      </div>
    </nav>