---
layout: default
section: developerhub
hideLogoInit: false
---
{% include setup %}
    <div class="jumbotron jumbotron-fluid home-cover">
      <div class="container">
        <section class="page col-12">
          <div class="col-12 text-center">
              <div class="masthead-text" style="font-size: 2rem; color:#00BDAD; line-height: 1rem; margin-top: 2rem;"><b>THOMAS</b> JOSEPH</div>  
              <h1 class="mb-4 mt-4" style="font-family: Raleway; color: #fff; text-shadow: 0.17rem 0.15rem 0.3rem #000, -0.09rem -0.09rem 0.4rem #fff; margin-top: 0.5rem;">Developer<span style="color:#999999">Hub</span></h1>
              <p class="lead" style="color: #fff; text-shadow: 0.17rem 0.15rem 0.3rem #000, -0.09rem -0.09rem 0.4rem #fff;">Musings on software, technology, marketing, business and everything related to my passion &amp; profession</p>
          </div>
        </section>
      </div>
    </div>

    {% include themes/{{ site.JB.theme }}/fragments/breadcrumb.html %}

    <div class="container">
      <div class="row">
        {% include themes/{{ site.JB.theme }}/fragments/col-promo-card.html entries=site.posts limit=20 %}
      </div>
      <div class="row">
        <a href="/developerhub/blog/archive.html" class="btn btn-lg btn-primary mx-auto">All Posts</a>
      </div>
    </div> <!-- /container -->