/* Site - Global Styles for this theme variables */
.masthead-text {
	font-family: $font-family-masthead;
}

.masthead {
	@extend .masthead-text;
	font-size: 3.3rem;
}

h1 {
	&.masthead-heading {
		@include media-breakpoint-down(sm) {
			font-size: 2.2rem !important;
		}
	}
}

// For Promo Cards
.promo-card {
	margin-top: 1rem;
	margin-bottom: 1rem;

    a {
    	color: $gray;
    }
}
.promo-card-stream a {
	color: $white;
	background-color: $brand-primary;
    font-size: .65rem;
    text-transform: uppercase;
    text-align: left;
    padding: .2rem .4rem;
    margin-bottom: 0.6rem;
    display: inline;
    font-weight: 700;
}
.promo-card-title a {
	color: $gray;
	text-shadow: 0.17rem 0.15rem 0.3rem $white;
	&:hover, &:focus {
		text-decoration: none;
		color: $brand-primary;
	}
}

.promo-img {
	width: 100%;
	text-align: center;
}
.btn {
	margin: 0.5rem auto;
}

.text-justify {
	h1,h2,h3,h4,h5,h6 {
		text-align: left;
	}
}

.card-columns {
	@include media-breakpoint-only(xs) {
		column-count: 1;
	}
	@include media-breakpoint-only(sm) {
		column-count: 2;
	}
	@include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}

/*
table {
	width: 100%;
}

table, td, th {
	border: 1px solid lighten($gray, 30);
	padding: 5px 10px;
}
th {
	background: lighten($gray, 50);
}
table tr:nth-child(2n){
	background: lighten($gray, 60);
}
*/
table {
	@extend .table, .table-striped, .table-bordered, .table-hover ;
}
thead {
	background: lighten($gray, 50);
}
