<!doctype html>
{% include setup %}
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<title>{{ page.title }} - {{ SECTION.title }}</title>
{% include {{THEME_BASE_PATH}}/structure/headerlibs.html %}
</head>
<body style="padding-top: 5rem;">
	{% include {{THEME_BASE_PATH}}/structure/navigation.html %}

	<div class="container">
	    <div class="row">
	      <div class="col-xs-12 col-md-8 push-md-2">
	      	<div class="post-meta-info">
		        <time class="text-muted">{{page.date | date: "%A, %d-%b-%Y" }}</time>
		        {% include utils/find-author %}
		        {% if AUTHOR %}<span class="mt-1 mb-1">&nbsp;|&nbsp; By <a href="{{ AUTHOR.profileUrl }}" rel="author" class="author">{{ AUTHOR.name }}</a></span>{% endif %}

		        {% assign WORD_COUNT = page.content | number_of_words %}
		        {% if WORD_COUNT > 250 %}
		        	{% assign READ_TIME_MAIN = WORD_COUNT | divided_by: 130 %}
		        	{% assign READ_TIME_REMAINDER = WORD_COUNT | modulo: 130 %}
		        	{% if READ_TIME_REMAINDER > 20 %}
		        		{% assign READ_TIME = READ_TIME_MAIN | plus : 1 %}
		        	{% else %}
		        		{% assign READ_TIME = READ_TIME_MAIN %}
		        	{% endif %}
		        	<span class="read-time d-block small"><i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp;{{ READ_TIME }} mins read</span>
		        	{% assign WORD_COUNT = nil %}
		        	{% assign READ_TIME_MAIN = nil %}
		        	{% assign READ_TIME_REMAINDER = nil %}
		        	{% assign READ_TIME = nil %}
		        {% endif %}
	        </div>
	        <h1 class="mt-2">{{ page.title }}</h1>
	        {% if site.url contains "0.0.0.0" %}
	        	{% assign HOST = site.url |replace_first: "0.0.0.0", "localhost" %}
	        {% else %}
	        	{% assign HOST = site.url %}
	        {% endif %}
	        <a href="#comments" class="comments"><i class="fa fa-comments" aria-hidden="true"></i>&nbsp;<span class="disqus-comment-count" data-disqus-url="{{ HOST }}{{page.url}}">Comments</span></a>
	        {% if page.summary %}<p class="summary">{{ page.summary }}</p>{% endif %}
	      </div>
	      <div class="col-xs-12 col-md-8 push-md-2 blog-main">
	      	{% if page.featuredImage and page.featuredImage > 0 %}
	        <div class="post-primary-image text-center">
	          <img class="img-thumbnail img-fluid mx-auto" style="max-height: 20rem;" src="page.featuredImage">
	        </div>
	        {% endif %}
	        <div class="blog-post">
	          <hr>
				{% include {{THEME_BASE_PATH}}/structure/maincontent.html %}
	        </div><!-- /.blog-post -->
	        <hr>
	        <div>
	           {% if page.categories.size > 0 %}
              	<div><strong>Categorized in </strong>
              		{% for category in page.categories %}
              		<span>{{category}}</span>
              		{% endfor %}
              	</div>
              {% endif %}
	          
              {% if page.tags.size > 0 %}
	          	<i class="fa fa-tags" aria-hidden="true"></i>
	          	<strong style="font-size: 1.2rem;">
          		{% for tag in page.tags %}
          		<span class="badge pill badge-default bg-inverse"><a class="text-white" href="/tags.html#{{ tag }}">{{ tag }}</a></span>
          		{% endfor %}
          		</strong>
              {% endif %}
	        </div>
	      </div><!-- /.blog-main -->
		</div> <!-- /.row -->

		<div class="row">
			<div class="col-12">
				<a name="comments"></a>
				{% include JB/comments %}
			</div>
		</div>
	</div> <!-- /.container -->
	{% include {{THEME_BASE_PATH}}/structure/footer.html %}
	{% include {{THEME_BASE_PATH}}/structure/footerlibs.html %}
	<script id="dsq-count-scr" src="//{{ site.JB.comments.disqus.short_name }}.disqus.com/count.js" async></script>
</body>
</html>
